{% load forms %}


<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-default form-panel">
      <div class="panel-heading">
        <h3>
          <i class="fa fa-list-alt"></i>
          Description
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          {% select field="Induction.Induction_type" %}
          {% textarea  field="Induction.Description"  %}
          {% select field="Induction.Position" %}
        </div>
      </div >
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-default form-panel">
      <div class="panel-heading">
        <h3>
          <i class="fa fa-spinner"></i>
          Airway
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          {% select label="Mask Ventilation" field="Induction.MaskVent"  %}
          {% select  field="Induction.Airway"  %}
          {% input  field="Induction.Size"   %}
          {% select  field="Induction.CormackLehane"   %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-push-1">
    <div class="panel panel-default form-panel">
      <div class="panel-heading">
        <h3>
          <i class="fa fa-eyedropper"></i>
          Drugs used
        </h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div ng-repeat="drug in editing.given_drug">
            {% input model="drug.dose" field="GivenDrug.dose" unit="mg" label="[[ drug.drug_name ]]" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
