
$primary: #0054B5;
$primary-background: #E4EDF6;

$sans-serif: "PT Sans", "Lucida Grande", "Lucida Sans", Arial, Verdana, sans-serif;
$default-colour: #2F312E;

$secondary: #C9046F;
$secondary-background: #F9CAE4;
$white: #FFF;
$events: #111;
$bg: #EEE;

$red  : #f76c51;
$blue : #5fa2dd;
$bluelight: #a0c7ea;
$green: #9cc96b;
$obsidian: #343637;
$obsidianlight: #cbc9c8;
$navbar-height: 63px;

body{
    background-color: $bg;
    color: $default-colour;
}

h3{
    font-family: $sans-serif;
}

.container-fluid {
  padding: 0;
}

.menu-bar-offset {
  padding-left: 10px;
}

.druglist {
  padding: 0px;
}


.bg-primary { background-color: $primary;}
.bg-secondary{ background-color: $secondary; }

.panel-primary .panel-default .panel-heading.bg-active,
.bg-active{ background-color: $primary; }

.panel.panel-primary { border-color: $primary; }
.panel.panel-primary .panel-heading {
    background-color: $primary;
    color: white;
}

/*
*
* Page header styles
*
*/

.page-header {
    border-bottom: 1px solid $white;
    background-color: $primary-background;
    margin-top: 50;
    min-height: 60px;
    overflow: hidden;
    padding: 0;
}

ul#patient-meta-data {
  list-style-type: none;
  margin: 0;
  padding: 0;


}

#patient-meta-data li, .page-header .logo {
  border-right: 2px solid #fff;
  display: block;
  float: left;
  line-height: 1;
  margin: 0;
  min-height: 39px;
  overflow: hidden;
  padding: 16px 24px 15px;
}

.navbar-brand.dac-logo, .page-header .more-button {
  background: #0054B5;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 24px;
  text-transform: uppercase;
}

#patient-meta-data h5 {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

#patient-meta-data p {
  font-size: 16px;
  margin: 0;
}

.page-header .more-button {
  display: block;
  float: right;
}


.btn-primary {
    background-color: $primary;
    border-color: $primary;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: $primary-background;
    border-color: $primary-background;
}

.btn-secondary{
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: $secondary-background;
    border-color: $secondary-background;
}
//
// .navbar-default .navbar-nav > .active > a,
// .navbar-default .navbar-nav > .active > a:focus,
// .navbar-default .navbar-nav > li > a:hover{
//     background-color: $obsidian;
// }
//
// .navbar-nav li:hover,
// .navbar-nav li:hover a,
// .navbar-nav li.active a,
// .navbar-nav li.active{
// 	background: $obsidianlight;
// }

// .panel-primary .panel-default .panel-heading,
// .panel-default .panel-heading {
//     border-bottom: 3px solid $active;
// }

.panel-primary .panel-active .panel-heading,
.panel-active .panel-heading {
    border-bottom: 3px solid $primary-background;
}

.modal-header{
    background: $primary;
}

.loading {
    background-color: $bg;
    color: $primary;
}

body{
  height: 100%;
}

/* ngProgress overrides */
.ngProgressLiteBar {
  background-color: $secondary;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  top: $navbar-height;
}

.ngProgressLite .ngProgressLiteBarShadow {
  display: none;
}

.default-drug {
  overflow: auto;
  width: 100%;
}


text.title{
  font-weight: bold;
  font-size: 2em;
}

circle .point{
   fill: black;
    stroke: black;
    stroke-width: 1px;
  }
circle .empty_point{
    fill: white;
    stroke: black;
    stroke-width: 1px;
}
rect .empty_point{
    fill: white;
    stroke: black;
    stroke-width: 1px;
}



svg .axis path, svg .axis line{
  fill: none;
  stroke: #262626;
  shape-rendering: crispEdges;
}
svg .axis text{
  font-family: sans-serif;
}
svg .background .green{
  fill: #ccffcc;
}
svg .background .amber{
  fill: #ffe9c8;
}
svg .background .red{
  fill: #ffcccc;
}
svg .background .event{
    fill: #2c2c2c;
}

svg .background .normal{
  fill: white;
  stroke: white;
}

svg .background line{
  fill: none;
  stroke: rgba(0,0,0,0.15);
  shape-rendering: crispEdges;
}
svg .brush{
  fill: rgba(0,0,0,0.3);
}

svg .data path{
  fill: none;
  stroke: rgba(40,40,40,0.6);
  shape-rendering: optimizeSpeed;
}

#chart_popup{
  font-family: sans-serif;
  background-color: rgba(0,0,0,0.6);
  color: #ffffff;
  display: inline-block;
  padding: 0.5em 1%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin-top: -2.2em;
  margin-left: -1.5%;
}
#chart_popup.hidden{
  display: none;
}

.panel-default{
    border-color: $white;

    .panel-heading{
        background-color: $primary-background;
        border-bottom: 2px solid $primary;
    }

    .list-group-item{
        background-color: $bg;
    }
}

.panel.form-panel{
  border-color: #ddd;
}
