/*  Based on the AABGI/RCoA/FICM/ICS/CEM 2014 review guidance on syringe colours in critical care areas */
/*  http://www.aagbi.org/sites/default/files/SYRINGE%20LABELLING%202014.pdf */
svg.anaesthetic-drug {
  visibility: hidden;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }

svg.anaesthetic-drug.antiemetic-drug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.antiemetic-drug rect {
    width: 20px;
    height: 16px;
    fill: #EFBE7D; }

svg.anaesthetic-drug.induction-agent-drug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.induction-agent-drug rect {
    width: 20px;
    height: 16px;
    fill: #ffe800; }

svg.anaesthetic-drug.hypnotic-rug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.hypnotic-rug rect {
    width: 20px;
    height: 16px;
    fill: #FF8200; }

svg.anaesthetic-drug.neuromuscular-blocking-drug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.neuromuscular-blocking-drug rect {
    width: 20px;
    height: 16px;
    fill: #ff7477; }

svg.anaesthetic-drug.depolarizing_neuromuscular_blocking_drug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.depolarizing_neuromuscular_blocking_drug rect {
    width: 20px;
    height: 16px;
    fill: #ff7477; }

svg.anaesthetic-drug.opioid_drug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.opioid_drug rect {
    width: 20px;
    height: 16px;
    fill: #71C5E8; }

svg.anaesthetic-drug.vasopressor-drug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.vasopressor-drug rect {
    width: 20px;
    height: 16px;
    fill: #D6BFDD; }

svg.anaesthetic-drug.local-anaesthetics-drug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.local-anaesthetics-drug rect {
    width: 20px;
    height: 16px;
    fill: #AFA9A0; }

svg.anaesthetic-drug.anticholinergic-drug {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.anticholinergic-drug rect {
    width: 20px;
    height: 16px;
    fill: #A4D65E; }

svg.anaesthetic-drug.other-drug-agents {
  visibility: visible;
  width: 20px;
  height: 16px;
  margin-bottom: -2px; }
  svg.anaesthetic-drug.other-drug-agents rect {
    width: 20px;
    height: 16px;
    fill: #ffffff; }

/* Induction agent: Pantone process yellow */
.induction-agent-drug {
  background-color: #ffe800; }

/* Hypnotic: Pantone 151 (orange) */
.hypnotic-drug {
  background-color: #FF8200; }

/* Hypnotic antagonist: Panton 151 (orange), white diagonal stripes */
.hypnotic-antagonist-drug {
  background: repeating-linear-gradient(-45deg, #ff7477, #ff7477 7px, #ffffff 7px, #ffffff 20px); }

/* Neuromuscular blocking drug: Pantone 805 */
.neuromuscular-blocking-drug {
  background-color: #ff7477; }

/* Neuromuscular blocking drug antagonist: Pantone 805, white diagonal stripes */
.neuromuscular-blocking-drug-antagonist {
  background: repeating-linear-gradient(-45deg, #ff7477, #ff7477 7px, #ffffff 7px, #ffffff 20px); }

/* Neuromuscular blocking drug: Pantone 805, black stripe and inverted text through title */
.depolarizing-neuromuscular-blocking-drug {
  background-color: #ff7477;
  background: linear-gradient(#000000 50%, #ff7477 50%); }

.depolarizing-neuromuscular-blocking-drug .top {
  color: #ff7477; }

/* Opioid drug: Pantone 297 (blue) */
.opioid-drug {
  background-color: #71C5E8; }

/* Opioid antagonist drug: Pantone 297 (blue), white diagonal stripes */
.opioid-antagonist {
  background: repeating-linear-gradient(45deg, #71C5E8, #71C5E8 5px, #ffffff 5px, #ffffff 10px); }

/* Vasopressor: Pantone 256 (violet) */
.vasopressor-drug {
  background-color: #D6BFDD; }

/* placeholder for hypotensive_agent_drug */
/* Local Anaesthetics: Pantone 401 (grey) */
.local-anaesthetics-drug {
  background-color: #AFA9A0; }

/* Anticholinergic: Pantone 367 (green) */
.anticholinergic-drug {
  background-color: #A4D65E; }

/* use for drugs which are not listed elsewhere, including antibiotics, oxytocin, heparin, protamine */
.other-drug-agents {
  background-color: #ffffff; }
