body {
  background-color: #EEE;
  color: #2F312E; }

h3 {
  font-family: "PT Sans", "Lucida Grande", "Lucida Sans", Arial, Verdana, sans-serif; }

.container-fluid {
  padding: 0; }

.menu-bar-offset {
  padding-left: 10px; }

.druglist {
  padding: 0px; }

.bg-primary {
  background-color: #0054B5; }

.bg-secondary {
  background-color: #C9046F; }

.panel-primary .panel-default .panel-heading.bg-active,
.bg-active {
  background-color: #0054B5; }

.panel.panel-primary {
  border-color: #0054B5; }

.panel.panel-primary .panel-heading {
  background-color: #0054B5;
  color: white; }

/*
*
* Page header styles
*
*/
.page-header {
  border-bottom: 1px solid #FFF;
  background-color: #E4EDF6;
  margin-top: 50;
  min-height: 60px;
  overflow: hidden;
  padding: 0; }

ul#patient-meta-data {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#patient-meta-data li, .page-header .logo {
  border-right: 2px solid #fff;
  display: block;
  float: left;
  line-height: 1;
  margin: 0;
  min-height: 39px;
  overflow: hidden;
  padding: 16px 24px 15px; }

.navbar-brand.dac-logo, .page-header .more-button {
  background: #0054B5;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 24px;
  text-transform: uppercase; }

#patient-meta-data h5 {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase; }

#patient-meta-data p {
  font-size: 16px;
  margin: 0; }

.page-header .more-button {
  display: block;
  float: right; }

.btn-primary {
  background-color: #0054B5;
  border-color: #0054B5; }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #E4EDF6;
  border-color: #E4EDF6; }

.btn-secondary {
  background-color: #C9046F;
  border-color: #C9046F; }

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #F9CAE4;
  border-color: #F9CAE4; }

.panel-primary .panel-active .panel-heading,
.panel-active .panel-heading {
  border-bottom: 3px solid #E4EDF6; }

.modal-header {
  background: #0054B5; }

.loading {
  background-color: #EEE;
  color: #0054B5; }

body {
  height: 100%; }

/* ngProgress overrides */
.ngProgressLiteBar {
  background-color: #C9046F;
  box-shadow: 0 0 10px 0;
  /* Inherits the font color */
  top: 63px; }

.ngProgressLite .ngProgressLiteBarShadow {
  display: none; }

.default-drug {
  overflow: auto;
  width: 100%; }

text.title {
  font-weight: bold;
  font-size: 2em; }

circle .point {
  fill: black;
  stroke: black;
  stroke-width: 1px; }

circle .empty_point {
  fill: white;
  stroke: black;
  stroke-width: 1px; }

rect .empty_point {
  fill: white;
  stroke: black;
  stroke-width: 1px; }

svg .axis path, svg .axis line {
  fill: none;
  stroke: #262626;
  shape-rendering: crispEdges; }

svg .axis text {
  font-family: sans-serif; }

svg .background .green {
  fill: #ccffcc; }

svg .background .amber {
  fill: #ffe9c8; }

svg .background .red {
  fill: #ffcccc; }

svg .background .event {
  fill: #2c2c2c; }

svg .background .normal {
  fill: white;
  stroke: white; }

svg .background line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.15);
  shape-rendering: crispEdges; }

svg .brush {
  fill: rgba(0, 0, 0, 0.3); }

svg .data path {
  fill: none;
  stroke: rgba(40, 40, 40, 0.6);
  shape-rendering: optimizeSpeed; }

#chart_popup {
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: inline-block;
  padding: 0.5em 1%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin-top: -2.2em;
  margin-left: -1.5%; }

#chart_popup.hidden {
  display: none; }

.panel-default {
  border-color: #FFF; }
  .panel-default .panel-heading {
    background-color: #E4EDF6;
    border-bottom: 2px solid #0054B5; }
  .panel-default .list-group-item {
    background-color: #EEE; }

.panel.form-panel {
  border-color: #ddd; }
