
$primary: #0054B5;
$primary-background: #E4EDF6;

$sans-serif: "PT Sans", "Lucida Grande", "Lucida Sans", Arial, Verdana, sans-serif;
$default-colour: #2F312E;

$secondary: #C9046F;
$secondary-background: #F9CAE4;
$white: #FFF;
$events: #111;
$bg: #EEE;

$red  : #f76c51;
$blue : #5fa2dd;
$bluelight: #a0c7ea;
$green: #9cc96b;
$obsidian: #343637;
$obsidianlight: #cbc9c8;
$navbar-height: 63px;

body{
    background-color: $bg;
    color: $default-colour;
    font-family: $sans-serif;
}

.container-fluid {
  padding: 0;
}


.bg-primary { background-color: $primary;}
.bg-secondary{ background-color: $secondary; }

.panel-primary .panel-default .panel-heading.bg-active,
.bg-active{ background-color: $primary; }

.panel.panel-primary { border-color: $primary; }
.panel.panel-primary .panel-heading {
    background-color: $primary;
    color: white;
}

/*
*
* Page header styles
*
*/

.page-header {
    border-bottom: 1px solid $white;
    background-color: $primary-background;
    margin: 0;
    min-height: 60px;
    overflow: hidden;
    padding: 0;
}

ul#patient-meta-data {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#patient-meta-data li, .page-header .logo {
  border-right: 2px solid #fff;
  display: block;
  float: left;
  line-height: 1;
  margin: 0;
  min-height: 39px;
  overflow: hidden;
  padding: 16px 24px 15px;
}

.page-header .logo, .page-header .more-button {
  background: #0054B5;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: 24px;
  text-transform: uppercase;
}

#patient-meta-data h5 {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

#patient-meta-data p {
  font-size: 16px;
  margin: 0;
}

.page-header .more-button {
  display: block;
  float: right;
}


.btn-primary {
    background-color: $primary;
    border-color: $primary;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: $primary-background;
    border-color: $primary-background;
}

.btn-secondary{
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: $secondary-background;
    border-color: $secondary-background;
}
//
// .navbar-default .navbar-nav > .active > a,
// .navbar-default .navbar-nav > .active > a:focus,
// .navbar-default .navbar-nav > li > a:hover{
//     background-color: $obsidian;
// }
//
// .navbar-nav li:hover,
// .navbar-nav li:hover a,
// .navbar-nav li.active a,
// .navbar-nav li.active{
// 	background: $obsidianlight;
// }

// .panel-primary .panel-default .panel-heading,
// .panel-default .panel-heading {
//     border-bottom: 3px solid $active;
// }


.panel-primary .panel-active .panel-heading,
.panel-active .panel-heading {
    border-bottom: 3px solid $primary-background;
}

.modal-header{
    background: $primary;
}

.loading {
    background-color: $bg;
    color: white;
}

body{
  height: 100%;
}

.navbar-collapse{
    display: none !important;
}

.navbar{
    display: none !important;
}


/* ngProgress overrides */
.ngProgressLiteBar {
  background-color: $secondary;
  box-shadow: 0 0 10px 0; /* Inherits the font color */
  top: $navbar-height;
}

.ngProgressLite .ngProgressLiteBarShadow {
  display: none;
}
