 <span ng-show="item.inspired_carbon_dioxide"><b>Inspired carbon dioxide:</b> [[ item.inspired_carbon_dioxide ]] <br /></span>
 <span ng-show="item.expired_carbon_dioxide"><b>Expired carbon dioxide:</b> [[ item.expired_carbon_dioxide ]] <br /></span>
 <span ng-show="item.inspired_oxygen"><b>Inspired oxygen:</b> [[ item.inspired_oxygen ]] <br /></span>
 <span ng-show="item.expired_oxygens"><b>Expired oxygen:</b> [[ item.expired_oxygens ]] <br /></span>
 <span ng-show="item.anaesthetic_agent"><b>Anaesthetic agent:</b> [[ item.anaesthetic_agent ]] <br /></span>
