 <span ng-show="item.bp_systolic"><b>BP systolic</b> [[ item.bp_systolic ]] <br /></span>
 <span ng-show="item.bp_diastolic"><b>BP diastolic</b> [[ item.bp_diastolic ]] <br /></span>
 <span ng-show="item.pulse"><b>Pulse</b> [[ item.pulse ]] <br /></span>
 <span ng-show="item.resp_rate"><b>Resp. rate</b> [[ item.resp_rate ]] <br /></span>
 <span ng-show="item.sp02"><b>SP02</b> [[ item.sp02 ]] <br /></span>
 <span ng-show="item.temperature">Temperature</b> [ item.temperature ]] <br /></span>
 <span ng-show="item.datetime"><b>datetime</b> [[ item.datetime | shortDateTime ]] <br /></span>
