<span ng-show="item.Hb">
    [[ item.Hb ]]
   <br />
</span>
<span ng-show="item.Plt">
    [[ item.Plt ]]
   <br />
</span>
<span ng-show="item.WBC">
    [[ item.WBC ]]
   <br />
</span>
<span ng-show="item.INR">
    [[ item.INR ]]
   <br />
</span>
<span ng-show="item.CRP">
    [[ item.CRP ]]
   <br />
</span>
<span ng-show="item.Urea">
    [[ item.Urea ]]
   <br />
</span>
<span ng-show="item.Creat">
    [[ item.Creat ]]
   <br />
</span>
<span ng-show="item.Na">
    [[ item.Na ]]
   <br />
</span>
<span ng-show="item.K">
    [[ item.K ]]
   <br />
</span>