<span ng-show="item.Assessment">
    [[ item.Assessment ]]
   <br />
</span>
<span ng-show="item.General_Risks">
    [[ item.General_Risks ]]
   <br />
</span>
<span ng-show="item.AdditionalRisks">
    [[ item.AdditionalRisks ]]
   <br />
</span>
<span ng-show="item.TimeSeen">
    [[ item.TimeSeen | shortDateTime ]]
   <br />
</span>
<span ng-show="item.ASA">
    [[ item.ASA ]]
   <br />
</span>
<span ng-show="item.Frailty">
    [[ item.Frailty ]]
   <br />
</span>
<span ng-show="item.Malampati">
    [[ item.Malampati ]]
   <br />
</span>
<span ng-show="item.previous_anaesthetics">
    [[ item.previous_anaesthetics ]]
   <br />
</span>
<span ng-show="item.Dentition">
    [[ item.Dentition ]]
   <br />
</span>