{% load panels %}
{% load forms %}
<div class="container-fluid">
    <!-- Header -->
    <div class="row title-banner">
      <div class="col-md-1 title-banner-link highlighted">
        DAC
      </div>
      <div class="col-md-2 title-banner-link">
        <div>
          <h5>Name</h5>
          [[ patient.demographics[0].first_name ]] [[ patient.demographics[0].surname ]]
        </div>
      </div>
      <div class="col-md-2 title-banner-link">
        <div>
          <h5>Age</h5>
          [[ patient.demographics[0].date_of_birth | age ]]
        </div>
      </div>
      <div class="col-md-2 title-banner-link">
        <div>
          <h5>NHS Number</h5>
          [[ patient.demographics[0].hospital_number ]]
        </div>
      </div>
    </div>
    <div class="row">
      {% block content %}

      <div class="col-md-3"> <!-- Episode Switcher -->
        {% record_panel models.AnaestheticTechnique %}

      </div> <!-- End episode switcher -->
      <div class="col-md-9">
        <div class="col-md-12">
          {% for episode_type in episode_types %}
          {% if episode_type.detail_template %}
          <div class="row" ng-show="view == null && episode.category == '{{ episode_type.name }}'">
            {% include episode_type.detail_template %}
          </div>
          {% endif %}
          {% endfor %}
          {% for detail in detail_views %}
          <div class="row" ng-show="view == '{{ detail.get_slug }}'">
            {% include detail.template %}
          </div>
          {% endfor %}
          {% block viewtemplates %}{% endblock %}
        </div>
      </div>

    </div> <!-- Ends Main Panel -->

      {% endblock content %}

</div>   <!-- Panel -->
</div>     <!-- Container -->
