{% load forms %}
{% input  field="Investigation.test"  %}
{% datepicker  field="Investigation.date_ordered"  %}
{% input  field="Investigation.details"  %}
{% input  field="Investigation.microscopy"  %}
{% input  field="Investigation.organism"  %}
{% input  field="Investigation.sensitive_antibiotics"  %}
{% input  field="Investigation.resistant_antibiotics"  %}
{% input  field="Investigation.result"  %}
{% input  field="Investigation.igm"  %}
{% input  field="Investigation.igg"  %}
{% input  field="Investigation.vca_igm"  %}
{% input  field="Investigation.vca_igg"  %}
{% input  field="Investigation.ebna_igg"  %}
{% input  field="Investigation.hbsag"  %}
{% input  field="Investigation.anti_hbs"  %}
{% input  field="Investigation.anti_hbcore_igm"  %}
{% input  field="Investigation.anti_hbcore_igg"  %}
{% input  field="Investigation.rpr"  %}
{% input  field="Investigation.tppa"  %}
{% input  field="Investigation.viral_load"  %}
{% input  field="Investigation.parasitaemia"  %}
{% input  field="Investigation.hsv"  %}
{% input  field="Investigation.vzv"  %}
{% input  field="Investigation.syphilis"  %}
{% input  field="Investigation.c_difficile_antigen"  %}
{% input  field="Investigation.c_difficile_toxin"  %}
{% input  field="Investigation.species"  %}
{% input  field="Investigation.hsv_1"  %}
{% input  field="Investigation.hsv_2"  %}
{% input  field="Investigation.enterovirus"  %}
{% input  field="Investigation.cmv"  %}
{% input  field="Investigation.ebv"  %}
{% input  field="Investigation.influenza_a"  %}
{% input  field="Investigation.influenza_b"  %}
{% input  field="Investigation.parainfluenza"  %}
{% input  field="Investigation.metapneumovirus"  %}
{% input  field="Investigation.rsv"  %}
{% input  field="Investigation.adenovirus"  %}
{% input  field="Investigation.norovirus"  %}
{% input  field="Investigation.rotavirus"  %}
{% input  field="Investigation.giardia"  %}
{% input  field="Investigation.entamoeba_histolytica"  %}
{% input  field="Investigation.cryptosporidium"  %}