{% load panels %}
<div ng-controller="GraphController">
  <div id="events"></div>
  <div id="observations"></div>
</div>
<div class="patient-timeline-container">
  <div class="row">
    <div class="col-md-6">
      {% record_panel models.Observation %}
    </div>
    <div class="col-md-6">
      {% record_panel models.Ventilators %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% record_panel models.Gases %}
    </div>
    <div class="col-md-6">
    </div>
  </div>
</div>
