{% load panels %}




<div ng-controller="newgraph">

    <div id="chart" ></div>


</div>




<div class="patient-timeline-container">
  <div class="row">
    <div class="col-md-6">
      {% record_panel models.Observation angular_filter="$index < 5 || $index - items.length < 5" %}
    </div>
    <div class="col-md-6">
      {% record_panel models.Ventilators angular_filter="$index < 5 || $index - items.length < 5" %}
      {% record_panel models.Gases angular_filter="$index < 5 || $index - items.length < 5" %}
    </div>
  </div>
</div>
